# 백엔드 (스프링부트) Gradle 캐시 및 빌드 결과
backend/.gradle/
backend/build/
backend/out/

# 프론트엔드
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.vercel/
/frontend/coverage/
/frontend/.pnpm-debug.log*
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions
/frontend/next-env.d.ts
/frontend/*.tsbuildinfo

# IDE 관련
.idea/
*.iml

# 운영체제 관련
.DS_Store

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 환경파일 및 민감정보
.env*
application-secret.yml

# 인증서 등 민감 파일
*.pem
